DATABASE_URL=postgresql://arc:arcpass@db:5432/arcpassport
CORS_ORIGINS=http://localhost:3000,http://localhost:3001
LOG_LEVEL=INFO
CIRCLE_API_KEY=
CIRCLE_BASE_URL=https://api.circle.com
CIRCLE_DEBUG=false
INTERNAL_API_URL=http://backend:8000
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_ARCPASSPORT_SBT_ADDRESS=0x68b28900F0e3cD760F0e34084CB7736E18a7931c
ARC_TESTNET_RPC_URL=
DEPLOYER_PRIVATE_KEY=
